<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.choogoomoneyna.choogoomoneyna_be.account.codef.mapper.AccountMapper">

    <select id="findAccountByAccountNum" parameterType="String" resultType="com.choogoomoneyna.choogoomoneyna_be.account.codef.vo.AccountVO">
        SELECT * FROM account WHERE account_num = #{accountNum}
    </select>

</mapper>